%br/
- @unique_items.reverse.sort{|a,b| (a.needs_work? ? 0:1) <=> (b.needs_work? ? 0:1)}.each do |unique_item|
  .row-fluid
    %a.span12.btn{href: unique_item_path(unique_item), class: ( unique_item.needs_work? ? 'btn-warning':'' )}
      %h1= unique_item.name

%br/
%br/

.row-fluid
  %a.span12.btn.btn-info{href: new_unique_item_path}
    %h1 Create New FamiItem
